<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
                id="Magenest_Movie::movie"
                title="Magenest"
                module="Magenest_Movie"
                sortOrder="50"
                resource="Magenest_Movie::movie"
        />
        <add
                id="Magenest_Movie::index"
                title="Movie"
                module="Magenest_Movie"
                sortOrder="55"
                parent="Magenest_Movie::movie"
                action="movie/movie"
                resource="Magenest_Movie::movie"
        />
        <add
                id="Magenest_Movie::actor"
                title="Actor"
                module="Magenest_Movie"
                sortOrder="60"
                parent="Magenest_Movie::movie"
                action="movie/actor"
                resource="Magenest_Movie::actor"
        />
        <add
                id="Magenest_Movie::director"
                title="Director"
                module="Magenest_Movie"
                sortOrder="65"
                parent="Magenest_Movie::movie"
                action="movie/director"
                resource="Magenest_Movie::director"
        />
    </menu>
</config>