<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magenest" translate="label" sortOrder="500">
            <label>Magenest</label>
        </tab>

        <section id="movie" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Movie</label>
            <tab>magenest</tab>
            <resource>Magenest_Movie::config_movie</resource>
            <group id="moviepage" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>HelloWorld page settings</label>
                <field id="is_enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Is Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="header_title" translate="label" type="text"
                       sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Header title</label>
                </field>
                <field id="button_id" translate="label" type="button" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Button</label>
                    <frontend_model>Magenest\Movie\Block\System\Config\Form\Button</frontend_model>
                </field>
            </group>
        </section>

    </system>
</config>