<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="movie_register_visit">
        <observer name="register_movie_visit" instance="Magenest\Movie\Observer\RegisterVisitObserver" />
    </event>
</config>