<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
<event name="helloworld_register_visit">
    <observer name="register_helloworld_visit"  instance="Packt\HelloWorld\Observer\RegisterVisitObserver" />
</event>
</config>